@page
@model ChooseItemsModel
@{
    ViewData["Title"] = "Food Choices";
}
<h3>Welcome back @Model.Shopper.Name</h3>

<br>

<div class="row gx-5">
    <div class="col-8">
        @foreach (KeyValuePair<Models.LocalRestaurants, List<Models.Items>> foodMenu in @Model.RestaurantMenus)
        {
            <div>
                <h4>@foodMenu.Key.Name</h4>
                <div class="container horizontal-scrollable">
                    <div class="row text-center">
                        @foreach (var item in @foodMenu.Value)
                        {
                            <div class="col">
                                <div class="card mb-3" style="max-width: 20rem;">
                                    <div class="card-body">
                                        <h5 class="card-title">@item.Name</h5>
                                        <p class="card-text">$@item.Price</p>
                                    </div>

                                    <div class="card-footer bg-transparent">
                                        <button class="btn btn-outline-danger">Add</button>
                                    </div>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-4">
        <div class="row text-center">
            <h4>Cart</h4>
        </div>
        <div class="row border rounded">
            <div class="col w-25 py-3 min-vh-75">
                <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0"
                    class="scrollspy-example">
                    <div>
                        <h5>Example Item 1</h5>
                        <p>Price: $6.99 Quantity: 1</p>
                    </div>
                    <div>
                        <h5>Example Item 2</h5>
                        <p>Price: $6.99 Quantity: 1</p>
                    </div>
                    <div>
                        <h5>Example Item 3</h5>
                        <p>Price: $6.99 Quantity: 1</p>
                    </div>
                    <div>
                        <h5>Example Item 4</h5>
                        <p>Price: $6.99 Quantity: 1</p>
                    </div>
                    <div>
                        <h5>Example Item 5</h5>
                        <p>Price: $6.99 Quantity: 1</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <form method="post">
                    <button asp-route-userType="Shoppers" asp-route-userId="@Model.Shopper.shoppersID"
                        asp-route-functionType="checkout" class="btn btn-danger btn-lg col-12">Checkout</button>
                </form>
            </div>
        </div>
    </div>
</div>